body {
	position: relative;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	background-position: center;
	background-image: url(../../image/bg/bg_2.jpg);

	height: 100vh;
	margin: auto;
	transform:translate3d(0,0,0);
	text-align: center;
}

#content {
	display: inline-block;
	position: relative;
	width: 100%;
	top: 30vh;
	text-align: center;
	opacity: 0;

	animation: flash 0.1s 3 linear forwards;
	-webkit-animation: flash 0.1s 3 linear forwards;
	-moz-animation: flash 0.1s 3 linear forwards;
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
}

#content img {
	width: 30vw;
}

@keyframes flash {
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 767px) {

	#content img {
		width: 80vw;
	}

}