@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');

/* About */
#about {
	z-index: 1;
	position: relative;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	background-image: url(../../image/bg/bg_4.jpg);

	height: 50vh;
	margin: auto;
	transform: translate3d(0,0,0);
	text-align: center;
}

.about-title h2 {
	position: relative;
	display: inline-block;
	font-size: 6vw;
	line-height: 0.6;
	margin: 200px 0px;
	color: #ffffff;
	text-shadow: 0 0 10px #ffffff, 0 0 10px rgba(10, 175, 230, 0);
	font-family: 'Share Tech Mono', monospace;
}

@media (max-width: 767px) {
	#about {
		height: 100px;
	}
	.about-title h2 {
		margin: 25px 0px;
		font-size: 15vw;
	}
}

.desc {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 100%;
	height: auto;
	top: 25vh;
	font-family: 'Sawarabi Gothic', sans-serif;
	font-weight: 100;
}

.desc h3 {
	font-size: 30px;
}

#admins {
	background-color: #002f7c;
	text-align: center;
}

#admins-list {
	text-align: center;
}

.admins-list-contents {
	display: inline-block;
	width: 130px;
	height: auto;
	margin: 10px;
}

figure.cp_caption {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	background: rgba(27, 37, 56, 1);
}
figure.cp_caption * {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
figure.cp_caption img {
	vertical-align: bottom;
	width: 100%;
	-webkit-transition: opacity 0.3s;
	        transition: opacity 0.3s;
	opacity: 1;
}
figure.cp_caption figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 3em 0;
}
figure.cp_caption figcaption::before {
	position: absolute;
	top: 50%;
	right: 5px;
	bottom: 50%;
	left: 5px;
	content: '';
	-webkit-transition: all 0.4s;
	        transition: all 0.4s;
	opacity: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	background-color: #fff;
}
figure.cp_caption h2,
figure.cp_caption p {
	width: 100%;
	margin: 0 0 1px;
	font-family: 'Share Tech Mono';
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
    transition-property: opacity, -webkit-transform, -moz-transform, -o-transform, transform;
	opacity: 0;
}
figure.cp_caption h2 {
	font-size: 17px;
	font-weight: 500;
}

figure.cp_caption p {
	font-size: 15px;
	text-decoration: underline;
}
figure.cp_caption a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: #fff;
}
figure.cp_caption:hover img {
	opacity: 0.35;
}
figure.cp_caption:hover figcaption h2 {
	-webkit-transition-delay: 0.2s;
	        transition-delay: 0.2s;
	-webkit-transform: translate3d(0%, 0%, 0);
	        transform: translate3d(0%, 0%, 0);
	opacity: 1;
}
figure.cp_caption:hover figcaption p {
	-webkit-transition-delay: 0.4s;
	        transition-delay: 0.4s;
	opacity: 0.9;
}
figure.cp_caption:hover figcaption::before {
	top: 30px;
	bottom: 30px;
	-webkit-transition-delay: 0s;
	        transition-delay: 0s;
	opacity: 1;
	background: rgba(27, 37, 56, 0);
}

@media (max-width: 767px) {

	figure.cp_caption img {
		opacity: 0.35;
	}
	figure.cp_caption figcaption h2 {
		-webkit-transition-delay: 0.2s;
		        transition-delay: 0.2s;
		-webkit-transform: translate3d(0%, 0%, 0);
		        transform: translate3d(0%, 0%, 0);
		opacity: 1;
	}
	figure.cp_caption figcaption p {
		-webkit-transition-delay: 0.4s;
		        transition-delay: 0.4s;
		opacity: 0.9;
	}
	figure.cp_caption figcaption::before {
		top: 30px;
		bottom: 30px;
		-webkit-transition-delay: 0s;
		        transition-delay: 0s;
		opacity: 1;
		background: rgba(27, 37, 56, 0);
	}

}

#rule {
	width: 100%;
	text-align: center;
	background-color: #FFFFFF;
	padding-bottom: 30px;
}

#inline-frame {
	width: 60%;
	height: 400px;
	border: solid 4px #1a2384;
}

.rule_button {
	display: none;
	width: 190px;
	height: 45px;
	font-family: 'Sawarabi Gothic', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #90edc8;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(144, 237, 200, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

.rule_button:hover {
	background-color: #2EE59D;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
}

@media (max-width: 767px) {

	#inline-frame {
		display: none;
	}

	.rule_button {
		display: inline-block;
	}

}

#archive {
	width: 100%;
	text-align: center;
	background-color: #002f7c;
	padding-bottom: 30px;
}

.archive_list {
	width: 50%;
	max-height: 400px;
	margin: auto;
	overflow-y: scroll;
	display: block;
	background-color: #111;
	border: solid 6px #111111;
	border-right: solid 2px #111111;
}

.archive_content {
	width: 100%;
	height: 80px;
	background-color: #fff;
	color: #111;
	border-bottom: solid 2px #333;
	font-family: 'Sawarabi Gothic', sans-serif;
	font-size: 20px;
	/*line-height: 80px;*/

	display: flex;
	align-items: center;
	justify-content: space-between;

	transition: 0.4s;
}

.archive_content:hover {
	transition: 0.4s;
	background-color: #a3c6ff;
	color: #000;
}

.date {
	font-weight: bold;
	padding-left: 30px;
	padding-right: 15px;
	float: left;
	text-decoration: none;
}

.title {
	float: left;
	text-decoration: none;
}

.key_picture img {
	vertical-align: bottom;
	height: 80px;
	border-left: solid 2px #333;
}

#archive a {
	text-decoration: none;
}

@media (max-width: 767px) {

	.date {
		padding-left: 15px;
		padding-right: 7px;
	}

	.archive_content {
		height: 40px;
		font-size: 12px;
	}

	.archive_list {
		border: solid 6px #111111;
	}

	.archive_list {
		width: calc(100% - 12px);
	}

	.key_picture {
		display: none;
	}

}