@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');

body {
	display: block;
	width: 90%;
	height: auto;
	display:block
}

img {
	width: 100%;
}

h1 {
	display: inline;
	font-family: 'Sawarabi Gothic', sans-serif;
	font-size: 30px;
}

hr {
	text-align: center;
	height: 10px;
	background-color: #333333;
	width: 90%;
	border: none;
}

#title {
	width: 100%;
}

#date {
	display: inline;
	font-size: 22px;
	vertical-align: middle;
}

p {
	font-family: 'Sawarabi Gothic', sans-serif;
	font-size: 20px;
}

@media (max-width: 767px) {

	h1 {
		font-size: 20px;
	}

	#date {
		font-size: 15px;
	}

	p {
		font-size: 15px;
	}

	hr {
		height: 5px;
	}

}