@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');

body {
	display: block;
	width: 90%;
	height: auto;
	display:block
}

img {
	width: 100%;
}

h1 {
	display: inline;
	font-family: 'Sawarabi Gothic', sans-serif;
	font-size: 30px;
}

#title {
	width: 100%;
}

#date {
	display: inline;
	float: right;
	font-size: 22px;
	vertical-align: middle;
}

p {
	font-family: 'Sawarabi Gothic', sans-serif;
	font-size: 20px;
}