.bug-reportArea {
	display: block;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bug-reportBg {
	width: 100%;
	height: 100%;
	background-color: rgba(30,30,30,0.9);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	background-position: center;
	background-image: url(../../image/bg_4.jpg);
}

.bug-reportWrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	width: 60vw;
	height: auto;
	max-width: 500px;
	padding: 10px 30px;
	background-color: #fff;
}

.bug-report-desc {
	font-family: 'Kaiso-Next-B';
	font-size: 18px;
	line-height: 25px;
}

.bug-report-error {
	background: #f44242;
	padding: 0.2em;
	color: #ffffff;
	margin: 5px 0;
	font-family: 'Kaiso-Next-B';
	border-radius: 0.5em;
}

#bug-report-form-space {
	height: 10px;
}

.bug-report-form-space-sp {
	height: 5px;
}

#bug-reportForm label {
	font-family: 'Kaiso-Next-B';
	font-size: 20px;
}

#bug-reportForm input[type="text"] {
	outline: none;
	border: 1px solid #aaa;
	-webkit-transition: all .3s;
	transition: all .3s;
	width: 100%;
	height: 30px;
	font-family: 'Kaiso-Next-B';
	font-size: 18px;
}

#bug-reportForm input[type="text"]:focus {
	box-shadow: 0 0 7px #1abc9c;
	border: 1px solid #1abc9c;
}

#bug-reportForm textarea {
	outline: none;
	border: 1px solid #aaa;
	-webkit-transition: all .3s;
	transition: all .3s;
	width: 100%;
	height: 60px;
	font-family: 'Kaiso-Next-B';
	font-size: 15px;
}

#bug-reportForm textarea:focus {
	box-shadow: 0 0 7px #1abc9c;
	border: 1px solid #1abc9c;
}

#bug-reportForm input[type="button"] {
	outline: none;
	border: 1px solid #aaa;
	-webkit-transition: all .3s;
	transition: all .3s;
	width: 100%;
	height: 30px;
	font-family: 'Kaiso-Next-B';
	font-size: 18px;
	margin: 20px 0;
}

#bug-reportForm input[type="button"]:focus {
	box-shadow: 0 0 7px #1abc9c;
	border: 1px solid #1abc9c;
}

#bug-report-thxMessage {
	font-family: 'Kaiso-Next-B';
	font-size: 24px;
}

@media (max-width: 767px) {

	.bug-reportWrapper {
		width: 95vw;
		height: auto;
	}

	.bug-report-desc {
		font-size: 14px;
		line-height: 16px;
	}

	#bug-report-thxMessagee {
		font-size: 15px;
	}
}

#bug-report-error1 {
	display: none;
}

#bug-report-error2 {
	display: none;
}

#bug-report-error3 {
	display: none;
}

#bug-report-error4 {
	display: none;
}
