@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');

@font-face {
	font-family: 'Kaiso-Next-B';
	src: url("../font/Kaiso-Next-B.otf");
}

body {
	font-family: "Sawarabi Gothic", sans-serif;
	background-image: url("../image/bg/loop_1.png");
}

#title-back {
	/*background-image: url("../image/bg/loop_1.png");*/
	text-align: center;
	margin-bottom: 30px;
}

#title {
	margin: 0;
	position: relative;
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	margin: 20px 0;
	display: inline-block;
	color: #ffffff;
}
#title:before {
	content: '';
	height: 30px;
	width: 60px;
	border: solid 3px rgba(102, 204, 255, 0.6);
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	margin:  auto;
}
#title:after {
	content: '';
	height: 80px;
	width: 80px;
	border: solid 4px rgba(0, 255, 204, 0.4);
	display: block;
	position: absolute;
	right:  0;
	bottom: 0;
	margin: auto;
}
#sub-title {
    display: block;
    font-size: 14px;
    margin-top: 10px;
    position: relative;
    width: 150px;
    margin: 10px auto 0;
    background-color: #002461;
}
 
#sub-title:before {
    content: '';
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    width: 200px;
    left: -25px;
}

@media (max-width: 959px) {
	#title {
		margin-top: 40px;
		font-size: 25px;
	}
}

#content {
	max-width: 1000px;
	margin: 0 auto;
}

@media (max-width: 959px) {
	#content {
		max-width: none;
		width: 100%;
	}
}

.formWrapper {
	background-color: #ffffff;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, .2);
	-webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, .2));
	filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, .2));

	margin-bottom: 20px;
}

.desc {
	text-align: center;
	margin-block-start: 0;
    margin-block-end: 0;
	font-size: 20px;
	line-height: 25px;
	padding-bottom: 30px;
	/*margin-bottom: 20px;*/
	margin-bottom: 40px;
	color: #111111;

	border-bottom: solid 2px #999999;
}

@media (max-width: 959px) {
	.desc {
		font-size: 15px;
	}
}

.form-space-sp {
	height: 60px;
}

label.question-label {
	display: block;
	padding: 0.25em 0.5em;/*上下 左右の余白*/
	font-size: 20px;
	color: #111111;/*文字色*/
	background: transparent;/*背景透明に*/
	border-left: solid 5px #7db4e6;/*左線*/
}

@media (max-width: 959px) {
	label.question-label {
		font-size: 20px;
		line-height: 25px;
	}
}

#Form input[type="text"] {
	outline: none;
	border: 1px solid #aaa;
	-webkit-transition: all .3s;
	transition: all .3s;
	width: 100%;
	height: 30px;
	font-family: 'Kaiso-Next-B';
	font-size: 18px;
}

#Form input[type="text"]:focus {
	box-shadow: 0 0 7px #1abc9c;
	border: 1px solid #1abc9c;
}

#Form textarea {
	font-family: "Sawarabi Gothic", sans-serif;
	outline: none;
	border: 1px solid #aaa;
	-webkit-transition: all .3s;
	transition: all .3s;
	width: 100%;
	height: 100px;
	font-size: 18px;
}

#Form textarea:focus {
	box-shadow: 0 0 7px #1abc9c;
	border: 1px solid #1abc9c;
}

#Form input[type="button"] {
	outline: none;
	border: 1px solid #aaa;
	-webkit-transition: all .3s;
	transition: all .3s;
	width: 100%;
	height: 40px;
	font-family: 'Kaiso-Next-B';
	font-size: 18px;
	margin: 20px 0;
}

#Form input[type="button"]:focus {
	box-shadow: 0 0 7px #1abc9c;
	border: 1px solid #1abc9c;
}

.radioButton {
	width: 100%;
	text-align: left;
}
.radioButton ul {
	padding-top: 1rem;
	list-style: none;
	border: 1px solid #cccccc;
}
.radioButton .list_item {
	margin: 0 0 1rem 0;
	padding: 0;
}
.radioButton label {
	font-family: Arial, sans-serif;
	line-height: 135%;
	position: relative;
	margin: 0.5rem;
	cursor: pointer;
}
.radioButton .option-input {
	position: relative;
	margin: 0 1rem 0 0;
	cursor: pointer;
}
.radioButton .option-input:before, .radioButton .option-input:after {
	position: absolute;
	z-index: 1;
	top: -0.3125rem;
	left: -0.125rem;
	width: 1rem;
	height: 1rem;
	content: '';
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
	border: 2px solid #06f;
	border-radius: 50%;
	background: #ffffff;
}
.radioButton .option-input:after {
	z-index: 0;
	top: -0.0625rem;
	border: none;
}
.radioButton .option-input:checked:before {
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
	background: #06f;
}

#thxMessage {
	display: block;
	text-align: center;
	font-size: 25px;
	margin: 80px 0;
}
