/* menu */
.cp_offcm02 {
	position: absolute;
	z-index: 5;
	left: 0;
	visibility: visible;
	overflow: hidden;
	width: 100%;
	height: 8vh;
	padding-top: 0;
	text-align: right;
	opacity: 1;
	/*background-color: red;*/
}
.cp_offcm02 nav {
	background: none;
}
.cp_offcm02 nav, .cp_offcm02 ul {
	height: 100%;
}
.cp_offcm02 li {
	list-style: none;
	display: inline-block;
	border: none;
	color: #FFFFFF;
	margin-left: -6px;
	font-family: 'Share Tech Mono', monospace;
	text-shadow: 0px 0px 13px #0000FF;
	font-size: 4vh;
}
.cp_offcm02 a {
	text-decoration: none;
	color: inherit;
	display: block;
	padding: 12px 30px;
	transition: .3s;
}
.cp_offcm02 a:hover {
	/*background-color: #FF9800;*/
}

/* menu toggle */
#cp_toggle02 {
	display: none;
}
.cp_mobilebar {
	display: none;
}
.cp_container {
	position: relative;
	top: 0px;
	margin-top: 0;
	padding: 35px auto;
	-webkit-transition: transform .3s ease-in;
	transition: transform .3s ease-in;
}
.content {
	margin: 0 auto;
	padding: 20px;
	height: 65vh;
	text-align: center;
}
@media (max-width: 959px) {
	/* menu */
	.cp_offcm02 {
		display: inline-block;
		position: fixed;
		z-index: 2;
		top: 0;
		overflow-y: hidden; 
		height: 100%;
		padding-top: 60px;
		-webkit-transition: opacity 0.3s ease-in, visibility 0.3s ease-in 0.3s;
		transition: opacity 0.3s ease-in, visibility 0.3s ease-in 0.3s;
		opacity: 0;
		background-color: #FFFFFF;
		text-align: center;
	}
	.cp_offcm02 nav {
		background: #FFFFFF;
	}
	.cp_offcm02 li {
		display: none;
		color: #5858FA;
		margin-left: 0px;
		border-bottom: 0.5px solid #111111;
		font-family: 'Share Tech Mono', monospace;
	}
	.cp_offcm02 a {
		padding: 1.2em;
	}
	/* menu toggle */
	.cp_mobilebar {
		display: block;
		z-index: 10;
		position: fixed;
		top: 0;
		left: 0;
		padding: 0 25px;
		width: 100%;
		height: 60px;
		background-color: #5858FA;
		-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	}
	.cp_menuicon {
		display: block;
		position: relative;
		width: 25px;
		height: 100%;
		cursor: pointer;
		-webkit-transition: transform .3s ease-in;
		transition: transform .3s ease-in;
	}
	.cp_menuicon > span {
		display: block;
		position: absolute;
		top: 55%;
		margin-top: -0.3em;
		width: 100%;
		height: 0.2em;
		border-radius: 1px;
		background-color: #eeeeee;
		-webkit-transition: transform .3s ease-in;
		transition: transform .3s ease-in;
	}
	.cp_menuicon > span:before, .cp_menuicon > span:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 1px;
		background-color: #eeeeee;
		-webkit-transition: transform .3s ease;
		transition: transform .3s ease;
	}

	.cp_menuicon > span:before {
		-webkit-transform: translateY(-0.6em);
		transform: translateY(-0.6em);
	}
	.cp_menuicon > span:after {
		-webkit-transform: translateY(0.6em);
		transform: translateY(0.6em);
	}
	#cp_toggle02:checked + .cp_mobilebar .cp_menuicon {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	#cp_toggle02:checked + .cp_mobilebar span:before,
	#cp_toggle02:checked + .cp_mobilebar span:after {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
/*	#cp_toggle02:checked + .cp_mobilebar {
		background-color: #FFFFFF;
	}*/
	#cp_toggle02:checked ~ .cp_offcm02 li {
    	display: block;
	}

	#cp_toggle02:checked ~ .cp_offcm02 {
		visibility: visible;
		opacity: 1;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}
	/* content */
	.cp_container {
		top:60px;
	}
}


.spa {
	height: 1200px;
}

.header-logo {
	/*background-color: yellow;*/
	position: absolute;
	opacity: 1;
	z-index: 12;
}

.header-logo img {
	width: 20vw;
	/*background-color: red;*/

}

@media (max-width: 959px) {
	.header-logo {
		/*background-color: yellow;*/
		display: flex;
		z-index: 12;
		position: fixed;
		top: 0;
		left: 25vw;
		margin: auto;
		padding: 0 25px;
		width: 50%;
		/*margin-left: 80px;*/

		align-items: center;
		justify-content: center;
		height: 60px;

		/*display: none;*/
	}

	.header-logo img {
		/*background-color: red;*/
		margin: auto;
		height: 60%;
		width: auto;
	}

}

footer {
	width: 100%;
	height: 30vh;

	background-color: #111111;
	color: #eeeeee;
	text-align: center;

	font-family: 'Share Tech Mono', monospace;
}

footer img {
	padding-top: 30px;
	height: 100px;
}

footer h3 {
	font-size: 18px;
	padding-top: 10px;
	/*background-color: red;*/
}

@media (max-width: 959px) {

	footer {
		height: 22vh;
	}

	footer img {
		height: 15vw;
		padding-top: 20px;
	}

	footer h3 {
		font-size: 12px;
		padding-top: 20px;
		/*background-color: red;*/
	}

}