.header-drawer {
	position: absolute;
	z-index: 999;
	left: 0;
	visibility: visible;
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding-top: 0;
	text-align: right;
	opacity: 1;
	/*background-color: red;*/
}
.header-drawer nav {
	background: none;
}
.header-drawer nav, .header-drawer ul {
	height: 100%;
}
.header-drawer li {
	list-style: none;
	display: inline-block;
	border: none;
	color: #FFFFFF;
	margin-left: -6px;
	font-family: 'Share Tech Mono', monospace;
	text-shadow: 0px 0px 13px #0000FF;
	font-size: 4vh;
}
.header-drawer a {
	text-decoration: none;
	position: relative;
	color: inherit;
	display: block;
	padding: 12px 30px;
	transition: .3s;
}

.header-drawer a::after {
	position: absolute;
	bottom: 50%;
	left: 0;
	content: '';
	width: 100%;
	height: 3px;
	background: #111;
	transform: scale(0, 1);
	transform-origin: right top;
	transition: transform .3s;
}

.header-drawer a:hover::after {
	transform-origin: left top;
	transform: scale(1, 1);
}

.header-drawer button {
	display: none;
}

@media (max-width: 959px) {

	.header-drawer {
		height: 130%;
	}

	.header-drawer * {
		margin: 0;
		padding: 0;
		outline: none;
		border: none;
		font: inherit;
		font-family: inherit;
		font-size: 100%;
		font-style: inherit;
		font-weight: inherit;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		text-align: left;
		text-decoration: none;
		list-style: none;
	}

	.header-drawer nav {
		background: #FFFFFF;
	}
	.header-drawer li {
		color: #5858FA;
		margin-left: 0px;
		width: 100%;
		border-top: 0.5px solid #eeeeee;
		border-bottom: 0.5px solid #eeeeee;
		font-family: 'Share Tech Mono', monospace;
		border-left: none;
	}

	.header-drawer a {
		color: inherit;
		text-decoration: none;
	}

	.header-drawer a:visited {
		color: inherit;
	}

	.header-drawer ._drawer_bg {
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 999;
		background-color: rgba(51, 51, 51, 0.5);
		display: none;
		top: 0;
		left: 0;
	}

	.header-drawer ._drawer_button {
		display: block;
		background: none;
		border: none;
		padding: 0;
		width: 42px;
		letter-spacing: 0.1em;
		cursor: pointer;
		position: absolute;
		top: 12px;
		right: 32px;
		z-index: 1001;
		text-align: center;
		outline: none;
	}

	.header-drawer ._drawer_button.active ._drawer_bar {
		width: 49px;
	}

	.header-drawer ._drawer_button.active ._drawer_bar1 {
		transform: rotate(30deg);
		background-color: #276490;
	}

	.header-drawer ._drawer_button.active ._drawer_bar2 {
		opacity: 0;
	}

	.header-drawer ._drawer_button.active ._drawer_bar3 {
		transform: rotate(-30deg);
		background-color: #276490;
	}

	.header-drawer ._drawer_button.active .header-drawer_text {
		display: none;
	}

	.header-drawer ._drawer_button.active ._drawer_close {
		display: block;
		color: #276490;
	}

	.header-drawer ._drawer_bar {
		display: block;
		height: 2px;
		margin: 10px 0;
		transition: all 0.2s;
		transform-origin: 0 0;
	}

	.header-drawer ._drawer_text {
		text-align: center;
		font-size: 10px;
	}

	.header-drawer ._drawer_close {
		letter-spacing: 0.08em;
		display: none;
	}

	.header-drawer .header-drawer_text {
		display: block;
	}

	.header-drawer ._drawer_nav_wrapper {
		width: 312px;
		height: 100%;
		transition: all 0.2s;
		transform: translate(312px);
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1000;
		background-color: #FFF;
		padding-top: 10px;
	}

	.header-drawer ._drawer_nav_wrapper.open {
		transform: translate(0);
	}

	.header-drawer.left ._drawer_button {
		right: auto;
		left: 12px;
	}

	.header-drawer.left ._drawer_nav_wrapper {
		transform: translate(-312px);
		right: auto;
		left: 0;
	}

	.header-drawer.left ._drawer_nav_wrapper.open {
		transform: translate(0);
	}

	/*+++ Default Navigation CSS +++*/
	.header-drawer ._drawer_nav {
		padding: 70px 24px;
	}

	.header-drawer ._drawer_nav li {
		font-size: 16px;
		margin-bottom: 13px;
	}

	/*+++ Default Button Color +++*/
	.header-drawer ._drawer_button {
		color: #FFFFFF;
	}

	.header-drawer ._drawer_button ._drawer_bar {
		background-color: #FFFFFF;
	}

}


.header-logo {
	/*background-color: yellow;*/
	position: absolute;
	opacity: 1;
	z-index: 12;
}

.header-logo img {
	width: 20vw;
	/*background-color: red;*/

}

@media (max-width: 959px) {
	.header-logo {
		display: none;
	}
}

