#ogt_info {
    min-height: Calc(100vh - 400px);
}

.ogt_main_info > .text_inner {
    text-align: center;
}

.ogt_main_info .text_inner p {
    text-align: left;
    margin-bottom: 50px;
}

.known_bugs {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    height: auto;
    padding: 40px;
    margin-top: 50px;
    background: #fff url(../image/overlay/overlay2.png) no-repeat;
    background-blend-mode: screen;
    background-size: cover;
    color: #111;
    text-align: left;
    font-family: 'Noto Sans JP';
    font-size: 15px;
    line-height: 120%;
    text-align: center;
}

.known_bugs .known_bugs_title,
.ogt_main_info .ogt_main_info_title {
    height: auto;
    font-size: 40px;
    padding: 0 30px 0 0;
}

.known_bugs .known_bugs_title,
.ogt_main_info .ogt_main_info_title {
    position: relative;/*相対位置*/
    line-height: 1.4;/*行高*/
    display: inline-block;
}

.known_bugs .known_bugs_title:before,
.known_bugs .known_bugs_title:after,
.ogt_main_info .ogt_main_info_title:before,
.ogt_main_info .ogt_main_info_title:after { 
    position: relative;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    font-size: 1.0em;
    color: #111;
}

.known_bugs .known_bugs_title:before,
.ogt_main_info .ogt_main_info_title:before {
    content:"\f053";/*アイコン種類*/
    padding-right: 0.5em
}

.known_bugs .known_bugs_title:after,
.ogt_main_info .ogt_main_info_title:after {
    content:"\f054";/*アイコン種類*/
    padding-left: 0.5em
}

@media (max-width: 767px) {

    .known_bugs {
        padding: 10px;
        width: Calc(90% - 20px);
    }

    .known_bugs .known_bugs_title,
    .ogt_main_info .ogt_main_info_title {
        font-size: 18px;
        padding: 30px 0;
    }
    
}

.bugs_list {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

#no_bugs {
    display: block;
    width: 90%;
    left: 0;
    right: 0;
    margin: 20px auto;
    padding: 20px;
    background-color: #eee;
    border: #fff solid;
    border-radius: 5px;
    color: #fff;
}

#no_bugs h2 {
    position: relative;
    text-align: center;
    color: #333;
}

.bug_tile {
    display: block;
    width: 90%;
    left: 0;
    right: 0;
    margin: 20px auto;
    padding: 20px;
    background-color: #555;
    border: #333 solid;
    border-radius: 5px;
    color: #fff;
}

.bug_tile .bug_tile_title {
    position: relative;
    background: #333;
    padding: 0.5em 0.5em;
    border-left: solid 2em #5c9ee7;
    text-align: left;
    color: #fff;
    vertical-align: bottom;
}
 
.bug_tile .bug_tile_title:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0ad";
    position: absolute;
    padding: 0em;
    color: white;
    font-weight: 900;
    left: -1.5em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bug_tile.bug .bug_tile_title {
    border-left: solid 2em #ff613d;
}
 
.bug_tile.bug .bug_tile_title:before {
    content: "\f188";
}

.bug_tile.time .bug_tile_title {
    border-left: solid 2em #e6b219;
}
 
.bug_tile.time .bug_tile_title:before {
    content: "\f2f2";
}
.bug_tile.fixed .bug_tile_title {
    border-left: solid 2em #5c9ee7;
}
 
.bug_tile.fixed .bug_tile_title:before {
    content: "\f00c";
}

.bug_tile.unknown .bug_tile_title {
    border-left: solid 2em #000000;
}
 
.bug_tile.unknown .bug_tile_title:before {
    content: "\f059";
}

.bug_tile .bug_tile_description {
    width: Calc(100% - 4em);
    margin-top: 5px;
    padding-left: 4em;
    text-align: left;
}

.bug_tile .update_date {
    position: absolute;
    right: 0;
    padding-right: 20px;
    font-size: 12px;
    color: #777;
}

@media (max-width: 767px) {
    
    .bug_tile {
        width: (100% - 5px);
        margin: 20px auto;
        padding: 5px;
        color: #fff;
    }
    
    .bug_tile .bug_tile_title {
        font-size: 18px;
        line-height: 1.5em;
        padding: 0.5em 0.5em;
    }
    
    .bug_tile .update_date {
        position: relative;
        padding-left: 1em;
        font-size: 10px;
        color: #777;
    }

    .bug_tile .update_date::before {
        content: "\A" ;
        white-space: pre;
    }
    
    .bug_tile .bug_tile_description {
        width: Calc(100% - 4px);
        font-size: 14px;
        margin-top: 5px;
        padding: 2px;
        text-align: left;
    }
}