@font-face {
	font-family: 'Kaiso-Next-B';
	src: url("../font/Kaiso-Next-B.otf");
}

#nazo_event {
	display: block;
	width: 100%;
	height: auto;

	/*background-color: #002f7c;*/
	background-image: url("../image/bg/loop_5.png");
	text-align: center;
	padding-bottom: 30px;
}

.nazo_content {
	display: inline-block;
	width: 60vw;
	height: auto;
	margin: 1vw;
	background-image: url("../image/bg/loop_4.png");
	border: solid 3px #FFFFFF;/*線*/
	border-radius: 10px;/*角の丸み*/
}

.nazo_event_cont_area {
	float: left;
	text-align: center;
	width: 80%;
	height: 100%;
	padding-bottom: 20px;
}

#nazo_area_img {
	display: none;
	padding-top: 20px;
	width: 80%;
	pointer-events: none;
}

#nazo_area_desc, #nazo_area_last_answer_desc {
	display: inline-block;
	width: 80%;
	padding-top: 20px;
}

#nazo_area_last_answer_desc {
	display: none;
}

#nazo_area_desc p,
 #nazo_area_last_answer_desc p {
	padding-bottom: 20px;
	font-family: 'Kaiso-Next-B', sans-serif;
	font-size: 2.0vw;
	letter-spacing: 0.2em;
	line-height: 1.1em;
}

#eng_title_mystery {
	font-size: 1.0vw;
	letter-spacing: 0.3em;
}

.move {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
}

.move iframe {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

@media (max-width: 767px) {
	.nazo_content {
		width: 85vw;
	}
	.nazo_event_cont_area {
		float: left;
		text-align: center;
		width: 100%;
		height: 100%;
		padding-bottom: 20px;
	}

	#nazo_area_img {
		width: 90%;
	}

	#nazo_area_desc, #nazo_area_last_answer_desc {
		width: 90%;
	}

	#nazo_area_desc p,
	 #nazo_area_last_answer_desc p {
		font-size: 5.5vw;
		letter-spacing: 0.1em;
		line-height: 1.1em;
	}

	#eng_title_mystery {
		font-size: 2.4vw;
		letter-spacing: 0.2em;
	}
}

.nazo_event_cont_list {
	width: 20%;
	height: 100%;
	box-sizing: border-box;
	/*border-left: 2px solid #111;*/
	float: left;
	/*background-color: yellow;*/
}

.nazo_event_cont_list a, a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

.nazo_event_cont_list ul {
	padding: 0;
	position: relative;
	border: 2px solid #111;
	border-radius: 0 10px 10px 0;
	box-sizing: border-box;
}

.nazo_event_cont_list ul li {
	color: #000;
	line-height: 1.5;
	padding: 0.75em 0;
	font-family: 'Kaiso-Next-B', sans-serif;
	font-size: 1.1vw;
	border-bottom: 2px solid #111;
	list-style-type: none!important;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	background-position: center;
	background-image: url(../image/bg/bg_event_1.png);
	transition: 0.4s;
	cursor: pointer;
}

@media (max-width: 767px) {
	.nazo_event_cont_list {
		width: 100%;
		text-align: center;
	}

	.nazo_event_cont_list ul li {
		width: 100%;
		font-size: 4vw;
		padding: 0.5em 0;
	}

	.nazo_event_cont_list ul {
		border-radius: 0 0 10px 10px;
		margin-bottom: 10px;
	}
}

.nazo_event_cont_list a[data-numb="0"] li {
	border-radius: 0 8px 0 0;
}

.nazo_event_cont_list a[data-numb="7"] li,
.nazo_event_cont_list a[data-numb="9"] li {
	border-radius: 0 0 8px 0;
	border-bottom: none;
}

.nazo_event_cont_list a[data-numb="8"] li,
.nazo_event_cont_list a[data-numb="9"] li {
	display: none;
}

.nazo_event_cont_list a[data-sel="true"] li {
	transition: 0.4s;
	color: #fff;
}

@media (max-width: 767px) {
	.nazo_event_cont_list a[data-numb="0"] li {
		border-radius: 0;
	}

	.nazo_event_cont_list a[data-numb="7"] li,
	.nazo_event_cont_list a[data-numb="9"] li {
		border-radius: 0 0 10px 10px;
		border-bottom: none;
	}

	.nazo_event_cont_list a[data-numb="8"] li,
	.nazo_event_cont_list a[data-numb="9"] li {
		display: none;
	}
}

#nazo_area_form {
	display: none;
	width: 100%;
	padding-top: 10px;
}

#nazo_area_form input {
	text-align: center;
	border: 0;
	padding: 5px;
	font-size: 1.3em;
	font-family: 'Kaiso-Next-B';
	color: #111;
	border: solid 1px #ccc;
	width: calc(60% - 10px);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	transition: 0.4s;
}

#nazo_area_form input:focus {
	transition: 0.4s;
    border: solid 1px #00f;
}

#nazo_area_form input:disabled,
#nazo_area_form_sub:disabled {
	transition: 0.4s;
	box-shadow:0px 0px 10px 1px #00f inset;
	cursor: not-allowed;
}

#nazo_area_form_sub {
	transition: 0.4s;
	width: calc(20% - 10px);
	border: solid 1px #ccc;
	padding: 5px;
	font-family: 'Kaiso-Next-B';
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: bold;
	color: #111;
	cursor: pointer;
}


@media (max-width: 767px) {
	#nazo_area_form input {
		width: calc(100% - 20px);
	}

	#nazo_area_form_sub {
		width: calc(100% - 10px);
	}

}




/************************************************************************/

#canvas {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: 11;
	opacity: 1;
}

#unknown_promoter {
	display: none;
}

/*
#about .table-tag h2 { 
	transform: scale(1, -1);
}
*/

.screen {
	width: 450px;
	height: 80px;
	overflow: hidden;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#glitch_logo {
	display: none;
}

#title_logo_n {
	display: block;
}

.title_glitch {
	display: block;
	z-index: 9;
	width: auto;
	height: 80px;
	text-align: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	cursor: default;
}
.title_glitch span {
	display: block;
	position: relative;

	background: transparent;
	color: #fff;
	font-family: 'SAOUI-Regular';
	font-size: 80px;
	letter-spacing: 0.4vw;

	line-height: 1;
}
.glitch .title_glitch {
	-webkit-transform: skewX(0deg) scaleY(1);
	transform: skewX(0deg) scaleY(1);
	-webkit-animation: clock-bag 4s linear infinite;
	animation: clock-bag 4s linear infinite;
}
.glitch .title_glitch span:before,
.glitch .title_glitch span:after {
	display: block;
	content: attr(data);
	position: absolute;
	top: 0;
	color: #fff;
	background: #000;
	overflow: hidden;
	width: 450px;
	height: 80px;
	clip: rect(0, 900px, 0, 0);
}
.glitch .title_glitch span:before {
	left: -2px;
	text-shadow: 2px 0 #00f;
	animation: c2 1s infinite linear alternate-reverse;
}
.glitch .title_glitch span:after {
	left: 3px;
	text-shadow: -2px 0 #f00;
	animation: c1 2s infinite linear alternate-reverse;
}

@media (max-width: 767px) {

	.screen,
	.title_glitch,
	.glitch .title_glitch span:before,
	.glitch .title_glitch span:after {
		width: 100%;
		height: 80px;
	}

	.title_glitch span {
		font-size: 60px;
	}

}

@-webkit-keyframes c1 {
	0% {
		clip: rect(83px, 9999px, 70px, 0);
	}
	5% {
		clip: rect(70px, 9999px, 24px, 0);
	}
	10% {
		clip: rect(93px, 9999px, 85px, 0);
	}
	15.000000000000002% {
		clip: rect(17px, 9999px, 85px, 0);
	}
	20% {
		clip: rect(93px, 9999px, 16px, 0);
	}
	25% {
		clip: rect(71px, 9999px, 74px, 0);
	}
	30.000000000000004% {
		clip: rect(5px, 9999px, 6px, 0);
	}
	35.00000000000001% {
		clip: rect(81px, 9999px, 87px, 0);
	}
	40% {
		clip: rect(51px, 9999px, 49px, 0);
	}
	45% {
		clip: rect(74px, 9999px, 41px, 0);
	}
	50% {
		clip: rect(57px, 9999px, 9px, 0);
	}
	55% {
		clip: rect(100px, 9999px, 75px, 0);
	}
	60.00000000000001% {
		clip: rect(15px, 9999px, 48px, 0);
	}
	65% {
		clip: rect(89px, 9999px, 84px, 0);
	}
	70.00000000000001% {
		clip: rect(79px, 9999px, 5px, 0);
	}
	75% {
		clip: rect(58px, 9999px, 75px, 0);
	}
	80% {
		clip: rect(65px, 9999px, 14px, 0);
	}
	85% {
		clip: rect(29px, 9999px, 10px, 0);
	}
	90% {
		clip: rect(92px, 9999px, 84px, 0);
	}
	95% {
		clip: rect(51px, 9999px, 51px, 0);
	}
	100% {
		clip: rect(49px, 9999px, 59px, 0);
	}
}
@keyframes c1 {
	0% {
		clip: rect(83px, 9999px, 70px, 0);
	}
	5% {
		clip: rect(70px, 9999px, 24px, 0);
	}
	10% {
		clip: rect(93px, 9999px, 85px, 0);
	}
	15.000000000000002% {
		clip: rect(17px, 9999px, 85px, 0);
	}
	20% {
		clip: rect(93px, 9999px, 16px, 0);
	}
	25% {
		clip: rect(71px, 9999px, 74px, 0);
	}
	30.000000000000004% {
		clip: rect(5px, 9999px, 6px, 0);
	}
	35.00000000000001% {
		clip: rect(81px, 9999px, 87px, 0);
	}
	40% {
		clip: rect(51px, 9999px, 49px, 0);
	}
	45% {
		clip: rect(74px, 9999px, 41px, 0);
	}
	50% {
		clip: rect(57px, 9999px, 9px, 0);
	}
	55% {
		clip: rect(100px, 9999px, 75px, 0);
	}
	60.00000000000001% {
		clip: rect(15px, 9999px, 48px, 0);
	}
	65% {
		clip: rect(89px, 9999px, 84px, 0);
	}
	70.00000000000001% {
		clip: rect(79px, 9999px, 5px, 0);
	}
	75% {
		clip: rect(58px, 9999px, 75px, 0);
	}
	80% {
		clip: rect(65px, 9999px, 14px, 0);
	}
	85% {
		clip: rect(29px, 9999px, 10px, 0);
	}
	90% {
		clip: rect(92px, 9999px, 84px, 0);
	}
	95% {
		clip: rect(51px, 9999px, 51px, 0);
	}
	100% {
		clip: rect(49px, 9999px, 59px, 0);
	}
}
@-webkit-keyframes c2 {
	0% {
		clip: rect(14px, 9999px, 67px, 0);
	}
	5% {
		clip: rect(74px, 9999px, 98px, 0);
	}
	10% {
		clip: rect(43px, 9999px, 94px, 0);
	}
	15.000000000000002% {
		clip: rect(96px, 9999px, 12px, 0);
	}
	20% {
		clip: rect(46px, 9999px, 31px, 0);
	}
	25% {
		clip: rect(81px, 9999px, 100px, 0);
	}
	30.000000000000004% {
		clip: rect(88px, 9999px, 89px, 0);
	}
	35.00000000000001% {
		clip: rect(20px, 9999px, 55px, 0);
	}
	40% {
		clip: rect(13px, 9999px, 63px, 0);
	}
	45% {
		clip: rect(37px, 9999px, 91px, 0);
	}
	50% {
		clip: rect(17px, 9999px, 56px, 0);
	}
	55% {
		clip: rect(27px, 9999px, 15px, 0);
	}
	60.00000000000001% {
		clip: rect(26px, 9999px, 93px, 0);
	}
	65% {
		clip: rect(68px, 9999px, 34px, 0);
	}
	70.00000000000001% {
		clip: rect(71px, 9999px, 41px, 0);
	}
	75% {
		clip: rect(5px, 9999px, 40px, 0);
	}
	80% {
		clip: rect(89px, 9999px, 8px, 0);
	}
	85% {
		clip: rect(18px, 9999px, 96px, 0);
	}
	90% {
		clip: rect(16px, 9999px, 48px, 0);
	}
	95% {
		clip: rect(35px, 9999px, 68px, 0);
	}
	100% {
		clip: rect(84px, 9999px, 54px, 0);
	}
	23% {
		-webkit-transform: scaleX(0.8);
		transform: scaleX(0.8);
	}
}
@keyframes c2 {
	0% {
		clip: rect(14px, 9999px, 67px, 0);
	}
	5% {
		clip: rect(74px, 9999px, 98px, 0);
	}
	10% {
		clip: rect(43px, 9999px, 94px, 0);
	}
	15.000000000000002% {
		clip: rect(96px, 9999px, 12px, 0);
	}
	20% {
		clip: rect(46px, 9999px, 31px, 0);
	}
	25% {
		clip: rect(81px, 9999px, 100px, 0);
	}
	30.000000000000004% {
		clip: rect(88px, 9999px, 89px, 0);
	}
	35.00000000000001% {
		clip: rect(20px, 9999px, 55px, 0);
	}
	40% {
		clip: rect(13px, 9999px, 63px, 0);
	}
	45% {
		clip: rect(37px, 9999px, 91px, 0);
	}
	50% {
		clip: rect(17px, 9999px, 56px, 0);
	}
	55% {
		clip: rect(27px, 9999px, 15px, 0);
	}
	60.00000000000001% {
		clip: rect(26px, 9999px, 93px, 0);
	}
	65% {
		clip: rect(68px, 9999px, 34px, 0);
	}
	70.00000000000001% {
		clip: rect(71px, 9999px, 41px, 0);
	}
	75% {
		clip: rect(5px, 9999px, 40px, 0);
	}
	80% {
		clip: rect(89px, 9999px, 8px, 0);
	}
	85% {
		clip: rect(18px, 9999px, 96px, 0);
	}
	90% {
		clip: rect(16px, 9999px, 48px, 0);
	}
	95% {
		clip: rect(35px, 9999px, 68px, 0);
	}
	100% {
		clip: rect(84px, 9999px, 54px, 0);
	}
	23% {
		-webkit-transform: scaleX(0.8);
		transform: scaleX(0.8);
	}
}
@-webkit-keyframes title-glitch-bag {
	0% {
		-webkit-transform: translate(5px, 3px);
		transform: translate(5px, 3px);
	}
	2% {
		-webkit-transform: translate(2px, 3px);
		transform: translate(2px, 3px);
	}
	4% {
		-webkit-transform: translate(3px, 1px);
		transform: translate(3px, 1px);
	}
	6% {
		-webkit-transform: translate(5px, 2px);
		transform: translate(5px, 2px);
	}
	8% {
		-webkit-transform: translate(3px, 2px);
		transform: translate(3px, 2px);
	}
	10% {
		-webkit-transform: translate(1px, 3px);
		transform: translate(1px, 3px);
	}
	12% {
		-webkit-transform: translate(4px, 3px);
		transform: translate(4px, 3px);
	}
	14.000000000000002% {
		-webkit-transform: translate(2px, 3px);
		transform: translate(2px, 3px);
	}
	16% {
		-webkit-transform: translate(2px, 3px);
		transform: translate(2px, 3px);
	}
	18% {
		-webkit-transform: translate(5px, 2px);
		transform: translate(5px, 2px);
	}
	20% {
		-webkit-transform: translate(2px, 2px);
		transform: translate(2px, 2px);
	}
	22% {
		-webkit-transform: translate(1px, 3px);
		transform: translate(1px, 3px);
	}
	24% {
		-webkit-transform: translate(3px, 1px);
		transform: translate(3px, 1px);
	}
	26% {
		-webkit-transform: translate(3px, 1px);
		transform: translate(3px, 1px);
	}
	28.000000000000004% {
		-webkit-transform: translate(4px, 4px);
		transform: translate(4px, 4px);
	}
	30% {
		-webkit-transform: translate(3px, 5px);
		transform: translate(3px, 5px);
	}
	32% {
		-webkit-transform: translate(4px, 1px);
		transform: translate(4px, 1px);
	}
	34% {
		-webkit-transform: translate(5px, 5px);
		transform: translate(5px, 5px);
	}
	36% {
		-webkit-transform: translate(1px, 2px);
		transform: translate(1px, 2px);
	}
	38% {
		-webkit-transform: translate(5px, 5px);
		transform: translate(5px, 5px);
	}
	40% {
		-webkit-transform: translate(4px, 5px);
		transform: translate(4px, 5px);
	}
	42% {
		-webkit-transform: translate(1px, 2px);
		transform: translate(1px, 2px);
	}
	44% {
		-webkit-transform: translate(3px, 1px);
		transform: translate(3px, 1px);
	}
	46.00000000000001% {
		-webkit-transform: translate(3px, 1px);
		transform: translate(3px, 1px);
	}
	48% {
		-webkit-transform: translate(4px, 2px);
		transform: translate(4px, 2px);
	}
	50% {
		-webkit-transform: translate(1px, 4px);
		transform: translate(1px, 4px);
	}
	52% {
		-webkit-transform: translate(3px, 2px);
		transform: translate(3px, 2px);
	}
	54% {
		-webkit-transform: translate(2px, 2px);
		transform: translate(2px, 2px);
	}
	56.00000000000001% {
		-webkit-transform: translate(1px, 3px);
		transform: translate(1px, 3px);
	}
	58% {
		-webkit-transform: translate(4px, 3px);
		transform: translate(4px, 3px);
	}
	60% {
		-webkit-transform: translate(5px, 3px);
		transform: translate(5px, 3px);
	}
	62% {
		-webkit-transform: translate(4px, 5px);
		transform: translate(4px, 5px);
	}
	64% {
		-webkit-transform: translate(4px, 1px);
		transform: translate(4px, 1px);
	}
	66% {
		-webkit-transform: translate(3px, 5px);
		transform: translate(3px, 5px);
	}
	68% {
		-webkit-transform: translate(2px, 1px);
		transform: translate(2px, 1px);
	}
	70.00000000000001% {
		-webkit-transform: translate(4px, 2px);
		transform: translate(4px, 2px);
	}
	72% {
		-webkit-transform: translate(5px, 5px);
		transform: translate(5px, 5px);
	}
	74% {
		-webkit-transform: translate(2px, 5px);
		transform: translate(2px, 5px);
	}
	76% {
		-webkit-transform: translate(4px, 5px);
		transform: translate(4px, 5px);
	}
	78% {
		-webkit-transform: translate(1px, 4px);
		transform: translate(1px, 4px);
	}
	80% {
		-webkit-transform: translate(1px, 2px);
		transform: translate(1px, 2px);
	}
	82.00000000000001% {
		-webkit-transform: translate(5px, 5px);
		transform: translate(5px, 5px);
	}
	84% {
		-webkit-transform: translate(5px, 1px);
		transform: translate(5px, 1px);
	}
	86% {
		-webkit-transform: translate(2px, 5px);
		transform: translate(2px, 5px);
	}
	88% {
		-webkit-transform: translate(3px, 1px);
		transform: translate(3px, 1px);
	}
	90% {
		-webkit-transform: translate(5px, 5px);
		transform: translate(5px, 5px);
	}
	92.00000000000001% {
		-webkit-transform: translate(1px, 5px);
		transform: translate(1px, 5px);
	}
	94% {
		-webkit-transform: translate(4px, 3px);
		transform: translate(4px, 3px);
	}
	96% {
		-webkit-transform: translate(5px, 1px);
		transform: translate(5px, 1px);
	}
	98% {
		-webkit-transform: translate(2px, 2px);
		transform: translate(2px, 2px);
	}
	100% {
		-webkit-transform: translate(3px, 5px);
		transform: translate(3px, 5px);
	}
	1% {
		-webkit-transform: scaleY(1) skewX(0deg);
		transform: scaleY(1) skewX(0deg);
	}
	1.5% {
		-webkit-transform: scaleY(3) skewX(-60deg);
		transform: scaleY(3) skewX(-60deg);
	}
	2% {
		-webkit-transform: scaleY(1) skewX(0deg);
		transform: scaleY(1) skewX(0deg);
	}
	51% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
		transform: scaleX(1) scaleY(1) skewX(0deg);
	}
	52% {
		-webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
		transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
	}
	53% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
		transform: scaleX(1) scaleY(1) skewX(0deg);
	}
}
@keyframes title-glitch-bag {
	0% {
		-webkit-transform: translate(5px, 3px);
		transform: translate(5px, 3px);
	}
	2% {
		-webkit-transform: translate(2px, 3px);
		transform: translate(2px, 3px);
	}
	4% {
		-webkit-transform: translate(3px, 1px);
		transform: translate(3px, 1px);
	}
	6% {
		-webkit-transform: translate(5px, 2px);
		transform: translate(5px, 2px);
	}
	8% {
		-webkit-transform: translate(3px, 2px);
		transform: translate(3px, 2px);
	}
	10% {
		-webkit-transform: translate(1px, 3px);
		transform: translate(1px, 3px);
	}
	12% {
		-webkit-transform: translate(4px, 3px);
		transform: translate(4px, 3px);
	}
	14.000000000000002% {
		-webkit-transform: translate(2px, 3px);
		transform: translate(2px, 3px);
	}
	16% {
		-webkit-transform: translate(2px, 3px);
		transform: translate(2px, 3px);
	}
	18% {
		-webkit-transform: translate(5px, 2px);
		transform: translate(5px, 2px);
	}
	20% {
		-webkit-transform: translate(2px, 2px);
		transform: translate(2px, 2px);
	}
	22% {
		-webkit-transform: translate(1px, 3px);
		transform: translate(1px, 3px);
	}
	24% {
		-webkit-transform: translate(3px, 1px);
		transform: translate(3px, 1px);
	}
	26% {
		-webkit-transform: translate(3px, 1px);
		transform: translate(3px, 1px);
	}
	28.000000000000004% {
		-webkit-transform: translate(4px, 4px);
		transform: translate(4px, 4px);
	}
	30% {
		-webkit-transform: translate(3px, 5px);
		transform: translate(3px, 5px);
	}
	32% {
		-webkit-transform: translate(4px, 1px);
		transform: translate(4px, 1px);
	}
	34% {
		-webkit-transform: translate(5px, 5px);
		transform: translate(5px, 5px);
	}
	36% {
		-webkit-transform: translate(1px, 2px);
		transform: translate(1px, 2px);
	}
	38% {
		-webkit-transform: translate(5px, 5px);
		transform: translate(5px, 5px);
	}
	40% {
		-webkit-transform: translate(4px, 5px);
		transform: translate(4px, 5px);
	}
	42% {
		-webkit-transform: translate(1px, 2px);
		transform: translate(1px, 2px);
	}
	44% {
		-webkit-transform: translate(3px, 1px);
		transform: translate(3px, 1px);
	}
	46.00000000000001% {
		-webkit-transform: translate(3px, 1px);
		transform: translate(3px, 1px);
	}
	48% {
		-webkit-transform: translate(4px, 2px);
		transform: translate(4px, 2px);
	}
	50% {
		-webkit-transform: translate(1px, 4px);
		transform: translate(1px, 4px);
	}
	52% {
		-webkit-transform: translate(3px, 2px);
		transform: translate(3px, 2px);
	}
	54% {
		-webkit-transform: translate(2px, 2px);
		transform: translate(2px, 2px);
	}
	56.00000000000001% {
		-webkit-transform: translate(1px, 3px);
		transform: translate(1px, 3px);
	}
	58% {
		-webkit-transform: translate(4px, 3px);
		transform: translate(4px, 3px);
	}
	60% {
		-webkit-transform: translate(5px, 3px);
		transform: translate(5px, 3px);
	}
	62% {
		-webkit-transform: translate(4px, 5px);
		transform: translate(4px, 5px);
	}
	64% {
		-webkit-transform: translate(4px, 1px);
		transform: translate(4px, 1px);
	}
	66% {
		-webkit-transform: translate(3px, 5px);
		transform: translate(3px, 5px);
	}
	68% {
		-webkit-transform: translate(2px, 1px);
		transform: translate(2px, 1px);
	}
	70.00000000000001% {
		-webkit-transform: translate(4px, 2px);
		transform: translate(4px, 2px);
	}
	72% {
		-webkit-transform: translate(5px, 5px);
		transform: translate(5px, 5px);
	}
	74% {
		-webkit-transform: translate(2px, 5px);
		transform: translate(2px, 5px);
	}
	76% {
		-webkit-transform: translate(4px, 5px);
		transform: translate(4px, 5px);
	}
	78% {
		-webkit-transform: translate(1px, 4px);
		transform: translate(1px, 4px);
	}
	80% {
		-webkit-transform: translate(1px, 2px);
		transform: translate(1px, 2px);
	}
	82.00000000000001% {
		-webkit-transform: translate(5px, 5px);
		transform: translate(5px, 5px);
	}
	84% {
		-webkit-transform: translate(5px, 1px);
		transform: translate(5px, 1px);
	}
	86% {
		-webkit-transform: translate(2px, 5px);
		transform: translate(2px, 5px);
	}
	88% {
		-webkit-transform: translate(3px, 1px);
		transform: translate(3px, 1px);
	}
	90% {
		-webkit-transform: translate(5px, 5px);
		transform: translate(5px, 5px);
	}
	92.00000000000001% {
		-webkit-transform: translate(1px, 5px);
		transform: translate(1px, 5px);
	}
	94% {
		-webkit-transform: translate(4px, 3px);
		transform: translate(4px, 3px);
	}
	96% {
		-webkit-transform: translate(5px, 1px);
		transform: translate(5px, 1px);
	}
	98% {
		-webkit-transform: translate(2px, 2px);
		transform: translate(2px, 2px);
	}
	100% {
		-webkit-transform: translate(3px, 5px);
		transform: translate(3px, 5px);
	}
	1% {
		-webkit-transform: scaleY(1) skewX(0deg);
		transform: scaleY(1) skewX(0deg);
	}
	1.5% {
		-webkit-transform: scaleY(3) skewX(-60deg);
		transform: scaleY(3) skewX(-60deg);
	}
	2% {
		-webkit-transform: scaleY(1) skewX(0deg);
		transform: scaleY(1) skewX(0deg);
	}
	51% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
		transform: scaleX(1) scaleY(1) skewX(0deg);
	}
	52% {
		-webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
		transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
	}
	53% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
		transform: scaleX(1) scaleY(1) skewX(0deg);
	}
}
