@font-face {
	font-family: 'Kaiso-Next-B';
	src: url("../font/Kaiso-Next-B.otf");
}

#loader-bg {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	color: #daf6ff;
	background: #0f3854;
	background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
	background-size: 100%;
	z-index: 11000;
	text-align: center;
}

#loader {
	display: none;
	position: fixed;
	
	width: 500px;
	left: calc((100% - 500px) / 2);
	height: 60px;
	top: calc((100% - 60px) / 2);

	z-index: 11001;

	text-align: center;
	color: #fff;
	text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
	font-family: 'Share Tech Mono', monospace;
	font-size: 6.5vh;

}

/* モーダルCSS */
.modalArea {
	display: none;
	position: fixed;
	z-index: 8000; /*サイトによってここの数値は調整 */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modalBg {
	width: 100%;
	height: 100%;
	background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	width: 60vw;
	height: auto;
	max-width: 500px;
	padding: 10px 30px;
	background-color: #fff;
}

.closeModal {
	position: absolute;
	padding: 1rem;
	top: 0.5rem;
	right: 1rem;
	cursor: pointer;
}

/* 以下ボタンスタイル */
#closeModal {
	padding: 10px;
	/*background-color: #fff;*/
	/*border: 1px solid #282828;*/
	border-radius: 2px;
	cursor: pointer;
}

.donate-desc {
	font-family: 'Kaiso-Next-B';
	font-size: 18px;
	line-height: 25px;
}

.donate-error {
	background: #f44242;
	padding: 0.2em;
	color: #ffffff;
	margin: 5px 0;
	font-family: 'Kaiso-Next-B';
	border-radius: 0.5em;
}

#donate-form-space {
	height: 30px;
}

.donate-form-space-sp {
	height: 10px;
}

#donateForm label {
	font-family: 'Kaiso-Next-B';
	font-size: 20px;
}

#donateForm input[type="text"] {
	outline: none;
	border: 1px solid #aaa;
	-webkit-transition: all .3s;
	transition: all .3s;
	width: 100%;
	height: 30px;
	font-family: 'Kaiso-Next-B';
	font-size: 18px;
}

#donateForm input[type="text"]:focus {
	box-shadow: 0 0 7px #1abc9c;
	border: 1px solid #1abc9c;
}

#donateForm textarea {
	outline: none;
	border: 1px solid #aaa;
	-webkit-transition: all .3s;
	transition: all .3s;
	width: 100%;
	height: 60px;
	font-family: 'Kaiso-Next-B';
	font-size: 8px;
}

#donateForm textarea:focus {
	box-shadow: 0 0 7px #1abc9c;
	border: 1px solid #1abc9c;
}

#donateForm input[type="button"] {
	outline: none;
	border: 1px solid #aaa;
	-webkit-transition: all .3s;
	transition: all .3s;
	width: 100%;
	height: 30px;
	font-family: 'Kaiso-Next-B';
	font-size: 18px;
	margin: 20px 0;
}

#donateForm input[type="button"]:focus {
	box-shadow: 0 0 7px #1abc9c;
	border: 1px solid #1abc9c;
}

#thxMessage {
	font-family: 'Kaiso-Next-B';
	font-size: 24px;
}

@media (max-width: 767px) {

	.modalWrapper {
		width: 95vw;
		height: auto;
	}

	.donate-desc {
		font-size: 14px;
		line-height: 16px;
	}

	#thxMessage {
		font-size: 15px;
	}
}

.flash {
	opacity: 0;
}

.flash.do {
	-webkit-animation: FlashAni .1s cubic-bezier(.47, 0, .745, .715) forwards normal;
	animation: FlashAni .1s cubic-bezier(.47, 0, .745, .715) forwards normal;
	animation-iteration-count: 4;

	-webkit-animation-iteration-count: 4;
}

@-webkit-keyframes FlashAni {
	0% {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		opacity: 1;
	}
	50% {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		opacity: 0;
	}
	to {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		opacity: 1;
	}
}

@keyframes FlashAni {
	0% {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		opacity: 1;
	}
	50% {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		opacity: 0;
	}
	to {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		opacity: 1;
	}
}

.table-tag {
	width: 100%;
}

.table-tag h2 {
	position: relative;
	font-size: 6vw;
	line-height: 0.6;
	padding:0.25em 1em;
	display: inline-block;
	top: 0;
	margin: 40px;
	color: #003996;
	text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
	font-family: 'Share Tech Mono', monospace;
}

.table-tag h2:before, .table-tag h2:after { 
	position: absolute;
	top: 0;
	content:'';
	width: 8px;
	height: 100%;
	display: inline-block;
}

.table-tag h2:before {
	border-left: solid 8px #003996;
	border-top: solid 3px #003996;
	border-bottom: solid 3px #003996;
	left: 0;
}

.table-tag h2:after {
	content: '';
	border-top: solid 3px #003996;
	border-right: solid 8px #003996;
	border-bottom: solid 3px #003996;
	right: 0;
}

.table-tag.white h2 {
	color: #FFFFFF;
}

.table-tag.white h2:before {
	border-left: solid 8px #FFFFFF;
	border-top: solid 3px #FFFFFF;
	border-bottom: solid 3px #FFFFFF;
}

.table-tag.white h2:after {
	border-top: solid 3px #FFFFFF;
	border-right: solid 8px #FFFFFF;
	border-bottom: solid 3px #FFFFFF;
}

@media (max-width: 767px) {

	.table-tag h2 {
		font-size: 14vw;
	}

}

/* ============[NEWS CSS BIGIN]============ */

* html .layer_board_bg,
* html .layer_board {
	position: absolute;
}

.layer_board_bg {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	opacity: 0.8;
	
	z-index: 1000;
	
	top: 0;
	left: 0;
	
	display: none;
	cursor: pointer;
	background: #000;
}

.layer_board {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*left: 50%;*/
	/*margin: 50px 0px 0px -285px;*/
	/*background-color: red;*/
	
	text-align: center;
	z-index: 2000;
}

.news_img {
	width: 50vw;
}

.news_close {
	margin-top: 10px;
	width: 10vw;
}


@media (max-width: 767px) {
	.news_img {
		width: 90vw;
	}

	.news_close {
		margin-top: 10px;
		width: 30vw;
	}
}