@font-face {
	font-family: 'Kaiso-Next-B';
	src: url("../font/Kaiso-Next-B.otf");
}

@media screen and (min-width:1000px) {
	/*スクロールバー全体*/
	::-webkit-scrollbar {
		width: 5px;
	}

	/*スクロールバーの軌道*/
	::-webkit-scrollbar-track {
		background: #111111;
		/*border-left: solid 1px #ececec;*/
	}

	/*スクロールバーの動く部分*/
	::-webkit-scrollbar-thumb {
		background-color: #666666;
		/*border-radius: 10px;*/
		/*box-shadow: inset 0 0 0 2px #fff;*/
	}
}

#loader-bg {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	color: #daf6ff;
	background: #0f3854;
	background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
	background-size: 100%;
	z-index: 11000;
	text-align: center;
}

#loader {
	display: none;
	position: fixed;
	
	width: 500px;
	left: calc((100% - 500px) / 2);
	height: 60px;
	top: calc((100% - 60px) / 2);

	z-index: 11001;

	text-align: center;
	color: #fff;
	text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
	font-family: 'Share Tech Mono', monospace;
	font-size: 6.5vh;

	animation: loading-flash 1.5s infinite linear;
	-webkit-animation: loading-flash 1.5s infinite linear;
	-moz-animation: loading-flash 1.5s infinite linear;

}

@keyframes loading-flash {
	0% { opacity: 0.2; }
	50% { opacity: 1; }
	100% { opacity: 0.2; }
}
@-webkit-keyframes loading-flash {
	0% { opacity: 0.2; }
	50% { opacity: 1; }
	100% { opacity: 0.2; }
}
@-moz-keyframes loading-flash {
	0% { opacity: 0.2; }
	50% { opacity: 1; }
	100% { opacity: 0.2; }
}

.flash {
	opacity: 0;
}

.flash.do {
	-webkit-animation: FlashAni .1s cubic-bezier(.47, 0, .745, .715) forwards normal;
	animation: FlashAni .1s cubic-bezier(.47, 0, .745, .715) forwards normal;
	animation-iteration-count: 4;

	-webkit-animation-iteration-count: 4;
}

@-webkit-keyframes FlashAni {
	0% {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		opacity: 1;
	}
	50% {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		opacity: 0;
	}
	to {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		opacity: 1;
	}
}

@keyframes FlashAni {
	0% {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		opacity: 1;
	}
	50% {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		opacity: 0;
	}
	to {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		opacity: 1;
	}
}

.table-tag {
	width: 100%;
}

.table-tag h2 {
	position: relative;
	font-size: 6vw;
	line-height: 0.6;
	padding:0.25em 1em;
	display: inline-block;
	top: 0;
	margin: 40px;
	color: #003996;
	text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
	font-family: 'Share Tech Mono', monospace;
}

.table-tag h2:before, .table-tag h2:after { 
	position: absolute;
	top: 0;
	content:'';
	width: 8px;
	height: 100%;
	display: inline-block;
}

.table-tag h2:before {
	border-left: solid 8px #003996;
	border-top: solid 3px #003996;
	border-bottom: solid 3px #003996;
	left: 0;
}

.table-tag h2:after {
	content: '';
	border-top: solid 3px #003996;
	border-right: solid 8px #003996;
	border-bottom: solid 3px #003996;
	right: 0;
}

.table-tag.white h2 {
	color: #FFFFFF;
}

.table-tag.white h2:before {
	border-left: solid 8px #FFFFFF;
	border-top: solid 3px #FFFFFF;
	border-bottom: solid 3px #FFFFFF;
}

.table-tag.white h2:after {
	border-top: solid 3px #FFFFFF;
	border-right: solid 8px #FFFFFF;
	border-bottom: solid 3px #FFFFFF;
}

@media (max-width: 767px) {

	.table-tag h2 {
		font-size: 14vw;
	}

}

/* ============[NEWS CSS BIGIN]============ */

* html .layer_board_bg,
* html .layer_board {
	position: absolute;
}

.layer_board_bg {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	opacity: 0.8;
	
	z-index: 1000;
	
	top: 0;
	left: 0;
	
	display: none;
	cursor: pointer;
	background: #000;
}

.layer_board {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*left: 50%;*/
	/*margin: 50px 0px 0px -285px;*/
	/*background-color: red;*/
	
	text-align: center;
	z-index: 2000;
}

.news_img {
	width: 50vw;
	border-radius: 15px;
	box-shadow: 0 0 16px #000000;
}

.news_close {
	margin-top: 10px;
	width: 10vw;
}


@media (max-width: 767px) {
	.news_img {
		width: 90vw;
	}

	.news_close {
		margin-top: 10px;
		width: 30vw;
	}
}


.policy_check p {
	font-size: 1.2vw;
	padding: 10px 0px;
}

.policy_check a {
	text-decoration-line: none;
	color: #FFFFFF;
}

.policy_check {
	margin-top: 20px;
	position: relative;
	padding: 0.1em 0.3em;
	display: inline-block;
	transition: .3s;
	color: #FFFFFF;
	text-decoration-line: none;
}
.policy_check::before,
.policy_check::after {
	position: absolute;
	content: '';
	width: 0;
	height: 2px;
	background-color: #FFFFFF;
	transition: .3s;
}
.policy_check::before {
	top: 0;
	left: 0;
}
.policy_check::after {
	bottom: 0;
	right: 0;
}
.policy_check:hover::before,
.policy_check:hover::after {
	width: 100%;
}

@media (max-width: 767px) {

	.policy_check p {
		font-size: 2.8vw;
	}

}

/* [ FOOTER ] */

#footer_deco {
	width: 100%;
	height: 2.5vh;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	background-position: left;
	background-image: url(../image/footer_deco.png);
	background-color: #002f7c;
}

footer {
	width: 100%;
	height: 26vh;

	background-color: #111111;
	color: #eeeeee;
	text-align: center;

	font-family: 'Share Tech Mono', monospace;
}

footer img {
	width: 30vw;
	padding-top: 3vh;
}

footer h3 {
	font-size: 3vh;
	padding-top: 2vh;
	/*background-color: red;*/
}

@media (max-width: 959px) {

	footer {
		height: 28vw;
	}

	footer img {
		width: 70vw;
		padding-top: 3vh;
	}

	footer h3 {
		font-size: 3vw;
		padding-top: 2vh;
		/*background-color: red;*/
	}

}

#p7frame {
	display: none!important;
}
