html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* BACKGROUND */
.background {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: url(../img/background.png) no-repeat center center/cover;
	z-index: -1;
}
.background video {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	min-height: auto;
}
.background .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
	background-size: 4px 4px;
}

/* INFO */

#info {
	position: absolute;
	width: 100%;
	height: auto;
	bottom: 0;
}

#info_inner {
	background-color: #333333;
	width: 100%;
	height: 60px;
	border-top: solid 4px #1b1b1b;

	box-sizing: border-box;
}

#info_element, #copyright {
	position: absolute;
	width: 400px;
	height: 50px;
	left: 0;
	margin-left: 145px;
	margin-top: 5px;
}

#copyright {
	width: auto;
	text-align: right;
	left: auto;
	right: 0;
	margin: 0;
	margin-right: 10px;
	margin-top: 5px;
}

#info_element h2, #copyright h2 {
	font-size: 20px;
	line-height: 36px;
	letter-spacing: 0.05em;
	font-family: 'Odibee Sans', cursive;
	color: #636363;
}

#user_head {
	position: absolute;
	width: 80px;
	height: 80px;
	bottom: 0;
	left: 0;
	margin: 0px 20px 20px 20px;

	border: solid 8px #333333;
	border-radius: 2px;
}

#user_name {
	position: absolute;
	width: 136px;
	height: 18px;
	bottom: 0;
	left: 0;
	margin-bottom: 5px;

	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.04em;
	font-family: 'Odibee Sans', cursive;
	color: #ffffff;
	text-align: center;
}

/* CENTER_PANEL */

#center_panel {
	display: none;
	position: absolute;
	width: 400px;
	height: 154px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	background-color: rgba(255, 255, 255, 0.5);
	border: solid 2px rgba(255, 255, 255, 0.8);
	border-radius: 20px;

	text-align: center;
}

#volume_slider {
	width: 100%;
	margin-top: 20px;
}

#volume_slider h2 {
	font-size: 50px;
	padding-bottom: 10px;
	letter-spacing: 0.05em;
	font-family: 'Odibee Sans', cursive;
	color: #111111;
}

#volume_slider_input {
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	height: 2px;
	width: 85%;
	border-radius: 6px;
}

#volume_slider_input:focus, 
#volume_slider_input:active {
	outline: none;
}

#volume_slider_input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	position: relative;
	width: 20px;
	height: 20px;
	display: block;
	border: 2px solid #0059ff;
	background-color: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	transition: .2s;
}

#volume_slider_input:active::-webkit-slider-thumb {
	box-shadow: 0 0 0 4px rgba(255, 255, 255, .6);
	transition: .2s;
}

#volume_slider_value {
	padding-top: 8px;
	width: 100%;
	font-size: 30px;
	/*font-family: 'Odibee Sans', cursive;*/
	font-family: 'Righteous', cursive;
}

/* CONNECT BUTTON */

#start_connect {
	position: absolute;
	width: 200px;
	height: 50px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

#connect_button {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-family: 'Odibee Sans', cursive;
	letter-spacing: 0.1em;
	line-height: 45px;
	width: 200px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid transparent;
	outline: 1px solid;
	outline-color: rgba(255, 255, 255, 0.5);
	outline-offset: 0px;
	text-shadow: none;
	transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);

	background: none;
}

#connect_button[disabled] {
	color: #444;
	outline-color: transparent;

}

#connect_button:hover {
	border-color: #FFF;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
	outline-color: transparent;
	outline-offset: 12px;
	text-shadow: 2px 2px 3px #000;
}

#connect_button:hover[disabled] {
	border-color: transparent;
	box-shadow: none;
	outline-offset: 0px;
	text-shadow: none;
}